#welcome-container {
  display: grid;
  /* grid-template: 30px 3fr 30px / repeat(6, 1fr); */
  grid-template: 30px 3fr 30px / repeat(auto-fit, minmax(50px, 1fr));
  height: 800px;
  background-image: url("https://images.pexels.com/photos/905874/pexels-photo-905874.jpeg");
  background-size: cover;
}

.middle-box {
  grid-area: 2/3/3/5;
  justify-self: center;
  align-self: center;
  width: 400px;
  height: 500px;
  background: rgba(255, 255, 255, 0.5);
}

.input-group {
  margin-top: 10px;
}
